@import '../../style/root.css';
@import '../../fonts.css';

* {
    margin: 0;
    padding: 0;
}

.header-nav {
    padding: 20px 0;

}

.header-navbar ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: var(--m500);
    margin: auto 0;
}

.header-navbar ul li {
    font-family: var(--m500);
    font-size: 14px;

    margin-left: 33px;
}

.nav-a {
    color: #191919;
    transition: 500ms;
}

.nav-a-active {
    color: #007d2f;
}

.header-navbar li:hover a {
    color: #007d2f;
    text-decoration: none;
}

.process-header-content {
    text-align: center;
    padding: 100px 0;
    background: #007d2f;
    font-family: var(--m500);
    font-size: 30px;
}

.process-header-content p {
    color: white;
    font-size: 18px;
}

.about-header-content {
    text-align: center;
    padding: 100px 0;
    background: #323232;
    font-family: var(--m500);
    font-size: 62px;
    color: white;
}

.about-header-content p {
    font-size: 23px;
}


.main-img {
    position: relative;
}

.main-images-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: .50s;
    text-align: center;
    background: rgba(55, 137, 86, 0.85);
    color: white;
    padding-top: 35%;
    font-size: 3vw;
}

.main-img:hover .main-images-hover {
    opacity: 1;
    transform: scale(1);
}

.main-images-hover:hover {
    transform: scale(1.2);
}


.pre-main-content {
    background: #007d2f;
}

.pre-main-content i {
    font-size: 48px;
}

.clients {
    text-align: center;
    color: white;
    padding: 65px 0;
}

.clients-info p {
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-need-project-content {
    text-align: center;
    margin: 0 auto;
}

.about-need-project-content h3 {
    font-size: 30px;
    font-family: var(--m500);
    font-weight: bold;
}

.about-need-project-content p {
    margin: 35px auto 20px auto;
    text-align: center;
}

.button {
    box-sizing: border-box;
    border: 0px solid var(--green);
    padding: 20px 25px;
    background: var(--green);
    color: var(--white);
    text-transform: uppercase;
    margin: auto;
    font-family: var(--m500);
}

.about-form {
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 100px;
}


.contact-main {
    background: #f5f5f5;
    padding: 100px 0;
}


.need-project-content {
    text-align: center;
    margin: 0 auto;
}

.need-project-content p {
    margin: 35px auto 20px auto;
    text-align: center;
}

.need-project-content h3 {
    font-size: 30px;
    font-family: var(--m500);
    font-weight: bold;
}

.need-project-content p {
    margin-left: 20%;
}
.form form h3 {
    font-size: 30px;
    font-family: var(--m500);
    font-weight: bold;
}

.form form p {
    margin: 35px auto 20px auto;
    text-align: center;
}
input,
textarea {
    background: white;
    color: #787878;
    border: none;
    margin: 15px 0;
    height: 50px;
    padding-left: 15px;
    font-size: 15px;
}

.txt-area {
    resize: none;
    height: 200px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.first-input {
    width: 47.5%;
}

.second-input {
    width: 47.5%;
}

.form-need input::placeholder,
textarea::placeholder {
    color: #787878;
}


.button {
    box-sizing: border-box;
    border: 0px solid var(--green);
    padding: 20px 25px;
    background: var(--green);
    color: var(--white);
    text-transform: uppercase;
    margin: auto;
    font-family: var(--m500);
}

.form form {
    text-align: center;
    margin: 0 auto;
}

.form form p {
    text-align: center;
}

.form {
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 100px;
}

.contact-main ul li{
    list-style: none;
    margin: 12px 0;
}
.contact-main ul li span{
    padding-left: 10px;
}
.contact-main h2{
    margin-bottom: 12px;
}

.contact-main p{
    padding: 0;
    margin: 25px 0;
}

.about-map{
    padding-top: 100px;
}
.about-map iframe{
    border: none;
}

footer {
    background: #141414;
    padding: 100px 0;
    color: #bcbcbc;
}

.footer-content-1 h4 {
    margin-bottom: 25px;
    font-family: var(--m500);
    font-size: 18px;
    color: white;
}

.footer-content-1 p {
    margin: 6px 0;

}

.footer-content-2 p {
    margin: 5px 0;
    text-align: center;
}

.footer-content-3 ul {
    list-style: none;
}

.footer-content-3 a {
    color: #bcbcbc;
}

.section {
    position: relative;
    background: #fff;
    overflow: hidden;
}

.progres {
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.progres img{
    width: min-content;
}

.progress-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
}
.progress-img img{
    object-fit: cover;
    object-position: top center;
}
.about-me{
    margin: 0 auto;
}