@import 'root.css';
@import 'fonts.css';


* {
    margin: 0;
    padding: 0;
}

.section-light {
    padding: 100px 0;
}

.section-dark {
    background: #f8f9f9;
}

.button-green {
    display: block;
    padding: 15px 55px;
    background: green;
    max-width: max-content;
    color: white;
    text-transform: uppercase;
    font-family: var(--m500);
}

.header-bg {
    background: url(images/header-bg.jpg) no-repeat center center /cover;
    height: 80vh;
    min-height: 430px;
}

.header-nav {
    padding-top: 20px;
}

.header-navbar ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: var(--m500);
    margin: auto 0;
}

.header-navbar ul li {
    margin-left: 33px;
    font-family: var(--m500);
    font-size: 14px;

}

.nav-a {
    color: #191919;
    transition: 500ms;
}

.nav-a-active {
    color: #007d2f;
}

.header-navbar li:hover a {
    color: #007d2f;
    text-decoration: none;
}

.header-content {
    margin-top: 75px;
}

.header-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.header-info {
    padding: 0;
    font-family: var(--m100);
    color: var(--gray78);
    margin-bottom: 50px;
    font-size: 15.36px;
}

.a-active {
    color: #007d2f;
}

.about-content {
    text-align: center;
    margin: 0 auto;
}

.about-title {
    color: #191919;
    margin-bottom: 40px;
}

.about-info {
    font-size: 14px;
    color: var(--gray78);
    margin-bottom: 50px;
}

.about-img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}


.progres h2 {
    font-family: var(--m500);
    font-size: 30px;
}

.progres h3 {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--m500);
    font-weight: bold;
}

.progres h3 span {
    margin-left: 20px;
}

.h-3 {
    height: 3px;
}

.mr-50 {
    margin-right: 50px;
}

.pre-main-content {
    background: #007d2f;
}

.pre-main-content i {
    font-size: 3.8vw;
}

.clients {
    text-align: center;
    color: white;
    padding: 6.5vh 0;
}

.clients-info p {
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.after-main-content {
    background: #007d2f;
}

.load-more {
    padding: 4vh 0;
    max-width: max-content;
    margin: 0 auto;
}

.load-more a {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

.more-works-arrow {
    opacity: 0;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    transition: 0.5s;
}

.load-more:hover .more-works-arrow {
    opacity: 1;
    transform: translateY(2vh);
}

.main-img {
    position: relative;
}

.main-images-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: .50s;
    text-align: center;
    color: white;
    padding-top: 35%;
    font-size: 3vw;
}

.main-img:hover .main-images-hover {
    opacity: 1;
    transform: scale(1);
}

.main-img i{
    transition: inherit;
}

.main-img i:hover{
    transform: scale(1.2);
}

.work-process {
    padding-bottom: 50px;
    padding-top: 100px;
}

.work-process-content {
    text-align: center;
}

.work-process-content h2 {
    margin-bottom: 25px;
    color: #191919;
}

.work-process-content p {
    font-size: 23px;
    line-height: 34px;
    margin: 0 auto;
    margin-bottom: 45px;
    color: #787878;
}

.abilitys {
    padding: 100px 0;
    background: #f5f5f5;
}

.ability {
    text-align: center;
}

.ability i {
    margin-bottom: 25px;
    font-size: 48px;
}

.ability h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--m500);
}

.ability p {
    margin-bottom: 50px;
    font-size: 16px;
}

.ability .fa-plane {
    transform: rotate(-45deg);
}

.carousel-item img {
    height: 50vh;
    min-height: 300px;
}

.carousel-item .carousel-content {
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-content p {
    font-size: 20px;
    margin: 0 auto;
    font-family: var(--m500);
}

.carousel-content h3 {
    margin-top: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: var(--m500);
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #b0e8e6;
    background-clip: padding-box;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: 30px;
}

.brands {
    padding: 5vh 0;
    text-align: center;
}

.brands__img{
    max-width: 100%;
}

.about-text {
    max-width: 800px;
    margin: auto;
}

.about-text h6 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.about-text p {
    font-size: 16px;
    color: #787878;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.need-project-content {
    text-align: center;
    margin: 0 auto;
}

.need-project-content p {
    margin: 35px auto 20px auto;
    text-align: center;
}

.need-project-content h3 {
    font-size: 30px;
    font-family: var(--m500);
    font-weight: bold;
}

.need-project-content p {
    margin-left: 20%;
}

.form form h3 {
    font-size: 30px;
    font-family: var(--m500);
    font-weight: bold;
}

.form form p {
    margin: 35px auto 20px auto;
    text-align: center;
}

input,
textarea {
    background: white;
    color: #787878;
    border: none;
    margin: 15px 0;
    height: 50px;
    padding-left: 15px;
    font-size: 15px;
}

.txt-area {
    resize: none;
    height: 200px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.first-input {
    width: 47.5%;
}

.second-input {
    width: 47.5%;
}

.form-need input::placeholder,
textarea::placeholder {
    color: #787878;
}


.button {
    box-sizing: border-box;
    border: 0px solid var(--green);
    padding: 20px 25px;
    background: var(--green);
    color: var(--white);
    text-transform: uppercase;
    margin: auto;
    font-family: var(--m500);
}

.form form {
    text-align: center;
    margin: 0 auto;
}

.form form p {
    text-align: center;
}

.form {
    background: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 100px;
}

footer {
    background: #141414;
    padding: 100px 0;
    color: #bcbcbc;
}

.footer-content-1 h4 {
    margin-bottom: 25px;
    font-family: var(--m500);
    font-size: 18px;
    color: white;
}

.footer-content-1 p {
    margin: 6px 0;
}

.footer-content-2 p {
    margin: 5px 0;
    text-align: center;
}
.footer-content-3 ul {
    list-style: none;
}

.footer-content-3 a {
    color: #bcbcbc;
}


.section {
    position: relative;
    background: #fff;
    overflow: hidden;
}

.progres {
    padding: 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 50vw;
    object-fit: cover;
    object-position: left bottom;
}
.progress-img img{
    object-fit: cover;
    object-position: left bottom;
}
.nav-md-burger{
    margin-left: auto;
}
.burger{
    width: 30px;
    height: 3px;
    background: #000;
    margin: 3px 0;
}