@import 'root.css';

body {
    min-width: 350px;
}
/* header start */
header{
    height: 100vh;
    background: url(../images/header_bg.jpg) no-repeat center center /cover;
    color: var(--white);
}
.logo{
    font-size: 24px;
    font-family: var(--f700);
    text-transform: uppercase;
}
header .menu{
    margin-top: 30px;
}
.menu__phone{
    font-size: 24px;
}
.menu__call-me{
    font-size: 16px;
    padding: 20px 25px;
    background: var(--green);
    border-radius: 30px;
    margin-left: 90px;
    transition: 300ms;
}
.menu__call-me:hover{
    background: var(--green-dark);
}
.header-content__sub-title{
    font-size: 18px;
    font-family: var(--f900);
    margin-bottom: 30px;
    line-height: 18px;
}
.header-content__title{
    font-size: 72px;
    font-family: var(--f900);
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 70px;
}
.header-content__price{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
    transition: 300ms;
}
.header-content__link{
    padding: 15px 40px;
    background: var(--gradient);
    border-radius: 30px;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.header-content__link::before{
    content: '';
    width: 0;
    position: absolute;
    height: 0;
    background: rgba(255, 255, 255, 0.24);
    transition: 500ms;
    filter: blur(10px);
    border-radius: 50%;
}
.header-content__link:hover::before{
    height: 80%;
    width: 100%;
}
.header-content__link:hover{
    text-shadow: 0 0 2px rgb(0, 81, 255);
}
/* header end */
/* main start */
.main{
    padding: 50px 0 100px 0;
}
.author__image{
    position: relative;
}
.author__title{
    font-size: 36px;
    color: var(--green);
    text-transform: uppercase;
    margin-bottom: 55px;
}
.author__desc{
    font-size: 18px;
    line-height: 36px;
    color: var(--gray-light);
}
.author__name{
    font-family: var(--f700);
    color: var(--gray-light);
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.author__name::after{
    content: url(../images/sign.png);
    display: block;
    margin-left: 60px;   
}
.main-menu{
    margin-top: 50px;
}
.main-menu__title{
    font-family: var(--f700);
    font-size: 36px;
    color: var(--green);
    opacity: 0.2;
    margin-bottom: 50px;
}
.menu-product__image{
    position: relative;
}
.menu-product__sale{
    position: absolute;
    top: 30px;
    left: 45px;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white);
    font-size: 18px;
    font-family: var(--f700);
}
.menu-product{
    margin-bottom: 50px;
}
.menu-product__title{
    font-size: 30px;
    text-transform: uppercase;
    font-family: var(--f700);
    color: var(--gray);
    margin-bottom: 30px;
}
.product-ingr__item{
    margin-bottom: 10px;
    color: var(--gray-light);
}
.menu-product__desc{
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 30px;
}
.menu-product__price{
    font-size: 30px;
    font-family: var(--f700);
    color: var(--gray);
    margin-bottom: 30px;
}
.menu-product__price span{
    font-size: var(--f300);
    font-size: 18px;
}
.menu-product__buy{
    padding: 15px 30px;
    background: var(--gradient);
    border-radius: 30px;
    color: var(--white);
    display: inline-block;
}
.feed-back{
    margin-top: 100px;
    text-align: center;
    color: var(--gray-light);
}
.feed-back__title{
    font-family: var(--f700);
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 15px;
    margin-top: 30px;
}
.feed-back__feed{
    font-size: 14px;
    line-height: 24px;
}
/* main end */
/* footer start */
footer{
    background: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 30px 0 55px 0;
}
footer .menu{
    margin-bottom: 50px;
}
footer p{
    font-family: var(--f100);
}